.forecast__weekly{
    padding-top: 0.2rem;
    

    &__cards{
        overflow: scroll;

    }
}

.weekly__card{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr 1fr ;

    margin: 0.6rem;
    padding: 0.6rem 1rem 0.6rem 1rem;

    justify-items: center;
    align-items: center;


    background-color: #a4afbabc;
    border-radius: 40px;
    box-shadow: 1px 1px 5px 2px rgba(142,142,142,0.52);

    &__icon{
        height: 50px;
    }
}