@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
@import "scss/actualWeather", "scss/hourlyForecast", "scss/weeklyForecast";

body{
    text-align: center;
}

header{
    text-align: center;
    #app__title{
        border-bottom: solid rgb(0, 0, 0) 2px;
    }
    #search{
        display: grid;
        grid-template-columns: 9fr 1fr;

        margin: 2rem;
        // &__filter{

        // }
        &__icon{
            height: 1.5rem;
            cursor: pointer;
        }
    }
}
.secondary__title{
    font-size: 1rem;
    text-align: left;
    left:0;
    margin: 2rem;
}