@import url("https://cdn.jsdelivr.net/gh/jgthms/minireset.css@master/minireset.min.css");
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}
.card__header {
  padding-bottom: 6rem;
}
.card__header__content {
  color: #43484D;
  background-color: rgba(255, 255, 255, 0.735);
  border: solid 8px rgba(255, 255, 255, 0.232);
  margin: 4rem 1rem -2rem 1rem;
  padding: 1rem;
}
.card__content {
  margin: -1rem 0rem -2rem 0rem;
  background-color: #e8ecf0;
  border-radius: 20px;
  box-shadow: 1px 1px 5px 2px rgba(142, 142, 142, 0.52);
}

.forecast__actual__city {
  font-size: 3rem;
  font-weight: 100;
  text-transform: uppercase;
}
.forecast__actual__degree {
  font-size: 3rem;
  margin: 1rem;
  font-weight: 500;
}
.forecast__actual__weather {
  font-weight: 300;
  font-style: italic;
}

.forecast__hourly__cards {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-content: flex-start;
  overflow: scroll;
  font-size: 0.8rem;
  padding-bottom: 0.5rem;
}

.hourly__card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0.3rem;
  height: 9rem;
  padding: 1.3rem 1rem 1.3rem 1rem;
  background-color: rgba(164, 175, 186, 0.737254902);
  border-radius: 40px;
  box-shadow: 1px 1px 5px 2px rgba(142, 142, 142, 0.52);
}
.hourly__card__icon {
  height: 2.3rem;
}

.forecast__weekly {
  padding-top: 0.2rem;
}
.forecast__weekly__cards {
  overflow: scroll;
}

.weekly__card {
  display: grid;
  grid-template-columns: 1fr 1fr 2fr 1fr;
  margin: 0.6rem;
  padding: 0.6rem 1rem 0.6rem 1rem;
  justify-items: center;
  align-items: center;
  background-color: rgba(164, 175, 186, 0.737254902);
  border-radius: 40px;
  box-shadow: 1px 1px 5px 2px rgba(142, 142, 142, 0.52);
}
.weekly__card__icon {
  height: 50px;
}

body {
  text-align: center;
  background-color: #dde6ee;
  font-family: "Archivo", sans-serif;
}

header {
  text-align: center;
}
header #app__title {
  border-bottom: solid rgb(0, 0, 0) 2px;
  text-transform: uppercase;
  font-weight: 200;
}
header #search {
  display: grid;
  grid-template-columns: 9fr 1fr;
  margin: 1rem;
  margin-bottom: -2rem;
  background-color: #A4AFBA;
  border-radius: 10px;
}
header #search__filter {
  border-radius: 10px 0px 0px 10px;
}
header #search__icon {
  cursor: pointer;
  padding: 0.3rem;
}

.secondary__title {
  font-size: 0.8rem;
  text-align: left;
  left: 0;
  margin: 1rem;
  text-transform: uppercase;
  font-weight: 100;
}

.card {
  margin-top: 3em;
}